table {
  width: 100%;
}

thead {
  background-color: #006699;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #e1eef4;
}

fieldset {
  border: 1px solid black;
  background: #e1eef4;
}

body {
  margin-left: 5%;
  margin-right: 5%;
}
